{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h1>Details</h1>
<h2>Amount</h2>
<p>{{ sale.amount }}</p>

<h2>Payment Type</h2>
<p>{{ sale.payment_type }}</p>

<h2>Date</h2>
<p>{{ sale.created_at }}</p>

<h2>Owner</h2>
<p>{{ sale.salesman }}</p>

<h2>Comments</h2>
<div class="comments-section">
    {% for comment in object.comment_set.all %}
    <p>
        <span class="fw-bold">{{ comment.author }}:</span> 
        {{ comment.comment }}
    </p>
    {% empty %}
    <p>No comments yet</p>
    {% endfor %}

    <h4>Add a comment</h4>
    <form action="{% url 'comment_create' sale.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="comment" required>
        <button type="submit">Add Comment</button>
    </form>
</div>

{% endblock content %}
