.hero {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.table-window {
  flex: 2 1 500px;
}

.summary-window {
  flex: 1 1 250px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}